.negative-rate {
  /*  */
}

.negative-rate .negative-emoji {
  text-align: center;
}

.negative-rate .sad-emoji-icon,
.negative-rate .not-bad-emoji-icon,
.negative-rate .negative-finish-emoji-icon {
  width: 54px;
  height: 49px;
}

.negative-rate .keyword-list {
  margin-top: 8px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.negative-rate .keyword-list .keyword {
  margin-right: 8px;
  margin-top: 8px;

  font-size: 11px;
  padding: 6px;

  color: #9c9c9c;
  border: 1px solid#9C9C9C;
  border-radius: 15px;

  text-align: center;
}

.negative-rate .keyword-list .keyword:last-child {
  margin-right: none;
}

.negative-rate .keyword-list .keyword.keyword-selected {
  color: #fff;
  background-color: #ff4100;
  border: 1px solid #ff4100;
}

.negative-rate .input-wrapper {
  display: flex;
  width: 100%;
}

.negative-rate .comment-input {
  flex: 1;
  margin-top: 16px;
  padding: 12px 10px;

  border: 1px solid #dcdcdc;
  border-radius: 4px;
}

.negative-rate .comment-input::placeholder {
  color: #c8c8c8;
}

.negative-rate .button-wrapper {
  width: 100%;
}

.negative-rate .submit-feedback-button {
  text-align: center;
  margin-top: 10px;
}
