.modal.rating-modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
}

.modal.rating-modal .question-emoji-icon {
  width: 85px;
  height: 60px;
}

.modal.rating-modal .main-text {
  margin-top: 10px;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

.modal.rating-modal .text {
  margin-top: 24px;
  color: #000;
  text-align: center;
}

.modal.rating-modal .rating-stars {
  margin-top: 16px;
}

.modal.rating-modal i.star-icon {
  margin-right: 12px;

  width: 32px;
  height: 32px;

  cursor: pointer;
}

.modal.rating-modal .rating-stars i.star-icon:last-child {
  margin-right: 0px;
}
